version: "3.8"
services:
  pg:
    image: postgres:15-alpine
    container_name: cooja-postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  data:
    driver: local


